<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>

<body>
    
        <div class="col-md-6">
            <label for="inputfirstName4" class="form-label">First Name:</label>
            <input placeholder="First Name..." type="text" class="form-control" id="inputfirstName4" name="firstName" />
        </div>
        <div class="col-md-6">
            <label for="inputlastName4" class="form-label">Last Name:</label>
            <input placeholder="Last Name" type="text" class="form-control" id="inputlastName4" name="lastName" />
        </div>

        <div class="col-md-6">
            <label for="inputemail4" class="form-label">Email:</label>
            <input placeholder="Email" type="email" class="form-control" id="inputemail4" name="email" />
        </div>
        <div class="col-md-6">
            <label for="inputtele4" class="form-label">Phone:</label>
            <input placeholder="Phone" type="number" class="form-control" id="inputtele4" name="phone" />
        </div>

        <div>
            <div class="col-md-6">
                <label for="inputage4" class="form-label">Age:</label>
                <input placeholder="Your Age: ..." type="number" class="form-control" id="inputage4" name="age" />
            </div>
        </div>

        <div>
            <div class="col-md-6">
                <label for="inputCountry" class="form-label">Country:</label>
                <select name="country" id="inputCountry" class="form-select">
                    <option selected hidden disabled>Choose here ...</option>

                    <option>Morocco</option>
                    <option>Egypt</option>
                </select>
            </div>
        </div>

        <div>
            <div class="col-md-6">
                <label for="inputGender" class="form-label">Gender:</label>
                <select name="gender" id="inputGender" class="form-select">
                    <option selected hidden disabled>Choose here ...</option>
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </div>
        </div>

        
</body>

</html>