<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>node.js</title>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->

</head>
<body>
    

    <form action="/" method="post">
        <input name="name" type="text" placeholder="Enter Name" required>
        <input name="number" type="number" required>
        <div class="but">
            <button>send data</button>
        </div>

    
    </form>


    <div style="color: white;">

        <!-- show data from database -->
        <%=dataUser[0].name%>
    </div>

</body>
</html>