<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->

</head>
<body>
    

    <form action="/" method="post">
        <input id="x" name="name" type="text" placeholder="Enter Name" required>
        <input name="number" type="number" required>
        <button>send data</button>
    </form>


</body>
</html>